.filterButtons{
  position: absolute;
  bottom: 0px;
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
}

.filterContent {

}

.filterContent label {
 background: white;
 padding: 0;
 border-style: none;
 margin: 0;
}

.filterAdd {/* border-color: aquamarine; *//* border-style: solid; */position: inherit;padding-top: 4px;padding-bottom: 4px;bottom: 30px;position: absolute;}

.filterAdd select {
  font-size: 16px;
  margin-left: 10px;
}

.tabContent ul {list-style-type: none;-webkit-margin-before: 0;-webkit-margin-after: 0;-webkit-margin-start: 0px;-webkit-margin-end: 0px;-webkit-padding-start: 0;/* border-color: gray; *//* border-width: 1px; *//* border-style: solid; *//* padding: 10px; */height: calc(100% - 70px);width: 100%;overflow-y: auto;position: absolute;}
.tabContent ul li {
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 22px);
  }

._filter {
  display:inline-block;
  padding-top: 10px;
  width: 100%;
}

._filter ._fieldExamples {
  max-height: 80px; 
  overflow: auto; 
  width: calc(100% - 30px); 
  border-width: 1px; border-style: solid; 
  margin: 0; 
}

.setIndicator {
  width: 15px;
  height: 15px;
  top: -3px;
  position: absolute;
}

.filterTabs{
   display: -webkit-inline-box;
   overflow-x: auto;
   position: absolute;
   width: calc(100% - 14px);
   height: calc(100% - 20px);
   margin: 10px;
   margin-right: 0;
}

.selectOpenParan {
  position: relative;
  top: -20px;
  left: calc(100% - 120px);
}

.selectCloseParan {
  position: absolute;
  margin=top: 10px;
  left: calc(100% - 75px);
}

.selectAndOr {position: absolute;right: 25px;}

.filterTabsZone {
  display: -webkit-inline-box;
  height: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: -6px;
  position: absolute;
  top: calc(100% - 50px);
}

.filterTabsContent {
    width: calc(100% - 22px);
    /* left: 1px; */
    /* top: 0px; */
    height: calc(100% - 73px);
    border: 1px solid black;
    border-top-right-radius: 8px;
    padding: 10px;
    position: absolute;
}