@import "toc.scss";
$default-theme: rgb(255,255,255);
$black-color:rgb(0,0,0);
$default-font: #fff;
$page-width: 300px;
@mixin border-radius($radius:5px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
      -webkit-box-shadow:$top $left $blur $color #{$inset};
      -moz-box-shadow:$top $left $blur $color #{$inset};
      box-shadow:$top $left $blur $color #{$inset};
}
@mixin fontFace($family,$src,$weight: normal,$style: normal) {
    @font-face {
        font-family: $family;
        src: url('#{$src}.eot'); // IE9 compat
        src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
            url('#{$src}.woff') format('woff'), // standards
            url('#{$src}.ttf') format('truetype'), // Safari, Android, iOS
            url('#{$src}.svg##{$family}') format('svg'); // legacy iOS

        font-style: $style;
        font-weight: $weight;
    }
}
@mixin linear-gradient($angle, $color-stops...) {
  $_angle-with-vendor-prefix: "";
  $_angle: "";
  @if $angle == "to top" or $angle == "bottom" {
    $_angle-with-vendor-prefix: bottom;
    $_angle: to top;
  } @else if $angle == "to right" or $angle == "left" {
    $_angle-with-vendor-prefix: left;
    $_angle: to right;
  } @else if $angle == "to bottom" or $angle == "top" {
    $_angle-with-vendor-prefix: top;
    $_angle: to bottom;
  } @else if $angle == "to left" or $angle == "right" {
    $_angle-with-vendor-prefix: right;
    $_angle: to left;
  } @else if $angle == "to top right" or $angle == "bottom left" {
    $_angle-with-vendor-prefix: bottom left;
    $_angle: to top right;
  } @else if $angle == "to bottom right" or $angle == "top left" {
    $_angle-with-vendor-prefix: top left;
    $_angle: to bottom right;
  } @else if $angle == "to bottom left" or $angle == "top right" {
    $_angle-with-vendor-prefix: top right;
    $_angle: to bottom left;
  } @else if $angle == "to top left" or $angle == "bottom right" {
    $_angle-with-vendor-prefix: bottom right;
    $_angle: to top left;
  } @else {
    $_angle-with-vendor-prefix: $angle % 360;
    $_angle: (90 - $angle) % 360;
  }
  background: -webkit-linear-gradient($_angle-with-vendor-prefix, $color-stops);
  background: -moz-linear-gradient($_angle-with-vendor-prefix, $color-stops);
  background: -o-linear-gradient($_angle-with-vendor-prefix, $color-stops);
  background: linear-gradient($_angle, $color-stops);
}
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
  zoom: 1;
}
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
@mixin transform($transforms) {
       -moz-transform: $transforms;
         -o-transform: $transforms;
        -ms-transform: $transforms;
        -webkit-transform: $transforms;
          transform: $transforms;
}
@mixin user-select ($val){
    -webkit-touch-callout: $val;
    -webkit-user-select: $val;
    -moz-user-select: $val;
    -ms-user-select: $val;
    user-select: $val;
}
/*Phones (520px) Small Tablets (720px)*/
@mixin respond-to($breakpoint) {
    @media only screen and (min-width: $breakpoint + px) { @content; }
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fonts */
@include fontFace("HelveticaNeue","../fonts/helveticaneue");
@include fontFace("HelveticaNeueUltraLight","../fonts/helveticaneueultralight");

#mapDiv {
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}


.esriRTL label {
  /*Example of a rule that will be applied if the app is viewed in a browser with a RTL locale like Hebrew or Arabic.*/
}

.loading-indicator {
  /* Loading status */
    display: none;
    height: 100%;
    width: 100%;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background: #fff;
}

.app-loading .loading-indicator, .app-error .loading-indicator {
  /* Show this class when loading or error */
    display: block;
}

.app-loading .loading-indicator {
  /* Loading image */
    background-position: center center;
    background-image: url(../images/ajax-loader.gif);
    background-repeat: no-repeat;
}

.app-error .loading-message {
  /* Error status */
    background-position: top center;
    background-image: url(../images/error.png);
    background-repeat: no-repeat;
    padding-top: 60px;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 0;
    text-align: center;
}

/*Styles for the print dialog checkbox*/
#pageBody_print .checkbox {
    display: inline-block;
    cursor: pointer;
    margin-left:10px; 
    line-height:18px;
    padding:4px;
}
#pageBody_print input[type=checkbox].checkbox {
    display:none; 
}

#pageBody_print .checkbox:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align:middle;
    background-color: #d3d3d3;
    color: #f3f3f3;
    text-align: center;
    border-radius: 3px;
}
#pageBody_print input[type=checkbox]:checked.checkbox + .checkbox:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
}
/*Layer list dialog*/
.layer-menu{
    width:100%;
}
.layer-menu .dijitMenuItem:hover{
    background:#d3d3d3;
}

.layer-menu .dijitMenuItemSelected{
    background:#d3d3d3;
}
/* Esri Javascript API*/

.esriEditor .esriDrawingToolbar{
    position: absolute;
    right:0;
    left:0;
    bottom:35%;
    border-bottom: none;
    border-right: none;
    border-left: none;
    @include respond-to(720){
        bottom:25%;
        right:0;
        left:0;
    }
}
.esriAttributeInspector .atiDeleteButton{
    
}
.esriPopup .pointer.bottom , .esriPopup .pointer.bottomLeft, .esriPopup .pointer.bottomRight{
    background: #f7f7f7 !important;
}
.esriPopupMaximized{
   top:100px !important;
}
.esriPrintout a{
    color:#5daddd;
}
.esriPrint{
    position:absolute;
    top:40px;
    left:15px;
}
.templatePicker{
    border:none;
}
.esriMeasurement .areaIcon{
    background-image: url(../images/area_measure.png);
    width:28px;
    height:28px;
}
.esriMeasurement .distanceIcon{
    background-image: url(../images/dist_measure.png);
    width:28px;
    height:28px;
}
.esriMeasurement .locationIcon{
    background-image: url(../images/dist_point.png);
    width:28px;
    height:28px;
}
.esriMeasurement .esriButtonHover .dijitButtonNode{
    background: #a9a9a9;
}
.esriMeasurement .esriButtonChecked .dijitButtonNode{
    background: #a9a9a9;
}
.no-touch .esriMeasurement .esriButton .dijitButtonNode:hover{
    background: #a9a9a9;
}

.locationIcon{
    width:32px;
    height:32px;
}
.esriSimpleSlider {
    text-align: center;
    color: #ffffff;
    @include transparent($default-theme, 0.80);
    @include box-shadow (3px, 3px, 10px, rgba(0,0,0,0.3));
    cursor: pointer;
    display:none;
    @include respond-to(720){
        display:block;
    }
}

.esriSimpleSlider div {
    width: 30px;
    height: 40px;
    font-size: 24px;
    font-family: verdana, helvetica;
    font-weight: bold;
    line-height: 40px;
    -webkit-user-select: none;
}

.notools div{
    width:30px;
    height:30px;
    line-height:25px;
    font-size:24px;
}
.esriSimpleSliderTL {
    top: 10px;
    left: 10px;
    border: none;
}

.esriSimpleSliderDecrementButton:hover, .esriSimpleSliderIncrementButton:hover {
    @include transparent($black-color, 0.3);
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton{
    border:none !important;
}

.esriSimpleSliderIncrementButton {
   /*border-bottom: 1px solid rgba(255,255,255,0.5) !important;*/
}

.simpleGeocoder .esriGeocoder {
    display: block;
    width: 100%;
    margin: 0;
    border: transparent;
    @include transparent($black-color, 0.3);
    @include border-radius;

}
.simpleGeocoder .esriGeocoderMenu{
    color: #333;
}
.simpleGeocoder .esriGeocoderResults {
    border: transparent;
    @include transparent($black-color, 0.6);

}

.simpleGeocoder .esriGeocoder input {
    color: #FFF !important;
}

.simpleGeocoder .esriGeocoderResult:hover, .simpleGeocoder .esriGeocoderResultEven:focus, .simpleGeocoder .esriGeocoderResultOdd:focus {
    @include transparent($black-color, 0.3);
}

.simpleGeocoder .esriGeocoder .esriGeocoderMenuArrow{
    background:none;
}
.simpleGeocoder .esriGeocoder .esriGeocoderMenuArrow:before{
    content:"\e809";
    width:16px;
    height:16px;
    font-size:16px;
    color: #a8a8a8;
    font-family: "tool-icons";
}

.esriMeasurement .esriMeasurementResultLabel{
    text-align:left;
    font-weight:500;
}
.esriControlsBR {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.logo-med {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.logo-sm {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.esriAttribution {
    position: absolute;
    left: 65px;
    bottom: 5px;
}

.esriBookmarks {
    border: none;
}
.esriBookmarkItem{
    width:$page-width;
    background: #f8f8f8;
    color:#555;
    border-bottom:1px solid #e0e0e0;
    @include user-select(none);    
    padding:6px;
}
.esriBookmarkLabel {
    font-size: 16px;
}

.esriBookmarkHighlight {
    @include transparent($black-color, 0.2);

}
.esriBasemapGallery{
    padding:20px 20px 80px 20px;
}
.legend{
    padding-bottom:100px;
}

.HomeButton .home {
    padding:0 !important;
    width:24px;
    height:24px;
    line-height:24px;
    font-size:20px;
    background-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    @include border-radius (13px);
    background-size: 14px 14px;
    background-image:none;
}
.no-touch .HomeButton .home:hover, .LocateButton .zoomLocateButton:hover{
    background-color:none !important;
}

.HomeButton .home:before{
    width:24px;
    height:24px;
    content:"\e800";
    position: absolute;
    font-family: "tool-icons";
    text-align:center;
    speak: none;
}
.LocateButton .zoomLocateButton:before{
    content:"\e80c";
    font-size:20px;
    width:24px;
    height:24px;
    position: absolute;
    font-family: "tool-icons";
    text-align:center;
    speak: none;
}
.LocateButton .zoomLocateButton {
    padding:0;
    width: 24px;
    height: 24px;
    font-size:20px;
    line-height:24px;
    background-color: transparent;
    background-image: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    @include border-radius(13px);
}



img{
    border:0;
}
/*custom tooltips for toolbar tools. Test on early IE*/
[data-title]:hover:after {
    content: attr(data-title);
    padding: 4px 8px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    z-index: 99;
    @include box-shadow (0px, 0px, 4px, #222);
    @include transparent($black-color, 0.5);
}

/* Template */

.bg {
    display: block;
}
.fc{
    font-weight:bold;
}
.rounded {
    @include border-radius;
}

.roundedTop {
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.shadow {
    @include box-shadow (3px, 3px, 10px, rgba($black-color,0.3));
}

#panelContent {
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    width: 0px;
    display: block;
    overflow:visible;
    @include transparent($black-color, 0.5);

}

#panelPages {
    width: 100%;
    height: 100%;
    overflow: visible;
    @include transparent(rgb(255,0,0), 0.5);
}

.page { 
    overflow:visible;
    position:relative;
    width: 100%;
    height: 100%;
    display:block;
    @include transparent(rgb(0,0,0), 0.5);

}

.pageblank {
    width: 0px;
    height: 100%;
}

.pageContent {
    position: absolute;
    left:10px;
    right:10px;
    margin-left: -310px;
    width: $page-width;
    display:block;
    overflow:hidden;
    max-height:305px;
    top:100px;
    @include transparent($default-theme, 1);
    @include respond-to(600){
        max-height:none;
    }
    @include respond-to(1074){
       top:10px;
        max-height:none;
    }
}

/*Panel sizes*/
.small{
    height:295px;
}
.medium{
    height:440px;
}
.large{
    height:540px;
}

.pageHeader {
    position: relative;
    width: 100%;
    height: 90px;
    text-align: center;
    display: block;

}
.pageTitle {
    position: absolute;
    left: 80px;
    top: 30px;
    width : auto;
    height: 20px;
    font-size: 14px;
    color: #ffffff;
    line-height: 20px;
    overflow:hidden;
}

.pageHeaderImg {
    position:absolute;
    left:5px;
    margin-left:0px;
    top:5px;
    width:60px;
    height:60px;
    line-height:60px;
    border: 5px solid rgba(0,0,0,0.1);
    @include border-radius(35px);
}

.pageIcon {
    position:absolute;
    left:11px;
    top:11px;
    width:40px;
    height:40px;
}

.pageClose {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 9px; 
    background: url(../images/close.png) no-repeat;
    background-size:24px;
    width: 24px;
    height: 24px;
    display: block;
}

.pageUp {
    position: absolute;
    top: 35px; 
    right: 5px;
    background: url(../images/up.png) no-repeat;
    background-size:24px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: block;
}

.pageDown {
    position: absolute;
    top: 60px; 
    right: 5px;
    background: url(../images/down.png) no-repeat;
    background-size:24px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: block;
}

.pageBody {
    position:relative;
    height:100%;
    top:0;
    display:block;
    width: 100%;
    color: #000000;
    overflow-x: hidden;
    overflow-y: auto; 
}

#pageBody_print{
    padding:10px;
}
#pageBody_legend{
    padding-left:20px;
    padding-top:20px;
    padding-bottom:20px;
    margin-right:30px;
    max-width: $page-width - 20;
}

#pageBody_share{
    padding:5px 20px;
    overflow-y:auto;
    @include respond-to(720){
        max-height:none;
    }
}
#pageBody_details{
    padding:5px;
    max-width: $page-width - 12;
}

#panelTop {
    position: fixed;
    left:0px;
    top:0px;
    width:100%;
    color: #ffffff;
    padding: 0px;
    display: block;
    overflow: visible;
    height: auto;
    @include border-radius (0);
    @include respond-to(760){
        max-width:650px;
        left: 44px;
        top: 10px;
        @include border-radius(5px);
    }
}
.largerTitle{
     @include respond-to(720){
        max-width:720px !important;
    }   
}
.smallerTitle{
     @include respond-to(720){
        max-width:520px !important;
    }   
}
#panelTitle {
    height: 50px;
    width:100%;
    float: left;
    color: #ffffff;
    display: block;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    font-family: "HelveticaNeue-UltraLight", "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "Helvetica Neue", "Arial", sans-serif; 
    font-weight:normal; 
    font-size: 25px;
}

#panelLogo {
    width: 50px;
    height: 50px;
    overflow: hidden;
    float: left;
    line-height: 50px;
    margin-left: 5px;
}
#panelLogo img{
    max-width:50px;
    max-height:50px
}

#panelText {
    float: left;
    max-width:196px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin-left: 5px;
    height: 50px;
    line-height: 50px;
    display:none;
    font-size:.9em;
    @include respond-to(720){
        display:block;
        max-width:400px;
    }
}

#panelSearch {
    float: left;
    margin: 10px 0 10px 4px;
    width: 227px;
    height: 30px;
    @include respond-to(720){
     margin: 10px 4px 10px 10px;
     float:right;
    }
}

#panelTools {
    position: relative;
    left: 0px;
    top: 0px;
    min-height: 30px;
    width: 100%;
    display: block;
    clear: both;
    @include respond-to(720){
        display:block !important;
    }
}

#panelMenu {
    position:absolute;
    top:10px;
    right:2px;
    font-size:24px;
    cursor: pointer;
    color: #fff;
    display: block;
    @include respond-to(720){
        display:none;
    }
}

.panelTool {
    float: left;
    width: 26px;
    height: 26px;
    margin-top: 2px;
    text-align: center;
    line-height: 26px;
    @include border-radius (13px);

}

/*Added hover to match the out-of-the-box hover for the home and locate buttons*/
.no-touch .panelTool:hover {
    @include transparent (rgb(102,102,102), 0.9);
}

.panelToolActive {
    @include transparent(rgb(0,0,0), 0.3);
}

.tool {
    margin: 1px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#panelHome {
    float: left;
    width: 24px;
    height: 24px;
    margin-left: 1px;
    margin-top: 3px;
}

#panelLocate {
    float: left;
    width: 24px;
    height: 24px;
    margin-left: 0px;
    margin-top: 3px;
}


/*Calcite updates keep list and submit issues*/

.calcite .esriPopup .title{
    font-weight:bold;
}
.dijitMenuItemIconChar.dijitCheckedMenuItemIconChar {
    display: inline-block;
    visibility: hidden;
}

.calcite .dijitMenu{
    border:none;
}
.dijitMenuItemLabel{
    padding:0;
}

.dijitChecked .dijitMenuItemIconChar.dijitCheckedMenuItemIconChar {
    display: inline-block;
    visibility: visible;
}

.no-touch .dijitMenuItem:hover {
    @include transparent(rgb(93,173,221),0.40);
}

.calcite .dijitMenuItemLabel {
    max-width:250px;

}
.dijitButtonNode {
    margin: 0;
    line-height: normal;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}
.esriAttributeInspector .atiButton{
        background-image:none;
}

.esriAttributeInspector .atiButton .dijitButtonNode{
    padding:1em !important;
    line-height:16px;
    background: #d3d3d3;  /*#5daddd; calcite blue */
    color: #fff;
    padding: 0;
    border: none;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    @include border-radius (4px);
    @include box-sizing(border-box);
    @include box-shadow (1px, 2px, 1px, rgba(0,0,0,0.3));
    @include user-select(none);
    @include transition(all, .5s, linear);
}

.esriPrintButton{
    padding: .5em 1em .5em !important;
    line-height:32px;
    background: #d3d3d3;  /*#5daddd; calcite blue */
    color: #fff;
    padding: 0;
    border: none;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    @include border-radius (4px);
    @include box-sizing(border-box);
    @include box-shadow (1px, 2px, 1px, rgba(0,0,0,0.3));
    @include user-select(none);
    @include transition(all, .5s, linear);
}
.esriPrintButton .esriPrintButton{
    background: #d3d3d3;  /*#5daddd; calcite blue */
}
.esriPrintButton:hover{
  background: #a9a9a9; /*#4997d2; calcite hover */
}

.calcite .dijitArrowButtonInner{
    width: 16px;
    height:16px;
}
.calcite .dijitPopup{
    border: solid 1px #d3d3d3;
}

/*Share Dialog updates*/

.calcite .icon-container {
    margin: 10px 0 10px;
    display:none;
    @include respond-to(720){
        display:block;
    }
}
.calcite .map-size-label {
    float: left;
    font-size: 15px;
    margin: 0 5px 0 0;
}
.esriRTL .calcite .map-size-label {
    float: right;
    margin: 0 0 0 5px;
}
.calcite .share-dialog-icon {
    /*font-size: 32px;
    line-height: 32px;*/
    font-size:30px;
    line-height:30px;
    float: left;
    color: rgba(0, 0, 0, 0.3);;
    cursor: pointer;
    margin: 0 10px 0 0;
    text-decoration: none;
    display: block;
}
.calcite .share-dialog-icon:visited{
    color: rgba(0, 0, 0, 0.5);
}
.esriRTL .calcite .share-dialog-icon {
    float: right;
    margin: 0 0 0 10px;
}
.calcite .share-dialog-icon:hover {
    color:rgba(0, 0, 0, 0.8);
}

.calcite .share-map-url {
    width: 50%;
    min-width: 80%;
    max-width: 90%;
    height: 25px;
    font-size: 14px;
    color: #777;
    border: 1px solid #dcdcdc;
    margin: 0 0 10px;
}
.calcite .map-size-container {
    margin: 0;
    padding: 0 0 20px;
}
.calcite .embed-map-size-clear,
.calcite .icon-clear {
    clear: both;
}
.calcite .embed-map-size-dropdown {
    float: left;
}
.esriRTL .calcite .embed-map-size-dropdown {
    float: right;
}
.calcite .share-dialog-subheader {
    font-size: 17px;
    display:none;
    @include respond-to(720){
        display:block;
    }
}
.calcite .share-dialog-textarea {
    width: auto;
    max-width: 90%;
    width: 80%;
    height: 50px;
    font-size: 14px;
    color: #777;
    border: 1px solid #dcdcdc;
    margin: 0 0 10px;
}
.calcite .share-dialog-extent {
    /*margin: 0 0 15px 0;*/
}

.share-dialog-checkbox {
    display: inline-block;
    cursor: pointer;
    padding:8px;
}
 input[type=checkbox].share-dialog-checkbox {
    display:none; 
}

.share-dialog-checkbox:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align:middle;
    background-color: #d3d3d3;
    color: #f3f3f3;
    text-align: center;
    border-radius: 3px;
}

 input[type=checkbox]:checked.share-dialog-checkbox + .share-dialog-checkbox:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
}

/*Icon Fonts*/

@font-face {
  font-family: 'tool-icons';
  src: url('../fonts/tool-icons.eot?23344103');
  src: url('../fonts/tool-icons.eot?23344103#iefix') format('embedded-opentype'),
       url('../fonts/tool-icons.woff?23344103') format('woff'),
       url('../fonts/tool-icons.ttf?23344103') format('truetype'),
       url('../fonts/tool-icons.svg?23344103#tool-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'tool-icons';
    src: url('../fonts/tool-icons.svg?23344103#tool-icons') format('svg');  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "tool-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 




.icon-home-1:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-facebook-squared:before { content: '\e803'; } /* '' */
.icon-gplus:before { content: '\e804'; } /* '' */
.icon-mail-alt:before { content: '\e805'; } /* '' */
.icon-link:before { content: '\e806'; } /* '' */
.icon-buffer:before { content: '\e80b'; } /* '' */
.icon-target:before { content: '\e80c'; } /* '' */
.icon-angle-down:before { content: '\e809'; } /* '' */
.icon-check-1:before {content: '\2713';} 


