li[role='menuitem']:hover, 
div[role='button']:not(.searchBtn):not(.searchClear):hover,
div[tabindex='0']:not(.margin):not(.panelPages):not(.pageBody):not(.searchBtn):not(.searchClear):not(.ovwHighlight):hover,
.no-touch .esriMeasurement .esriButton .dijitButtonNode:hover,
#dijit_form_ComboButton_0_arrow:hover,
button:hover,
.panelToolActive:hover,
.esriMeasurement .esriToggleButton .dijitButtonNode:hover,
.panelTool:hover,
.esriSimpleSliderDecrementButton:hover, .esriSimpleSliderIncrementButton:hover
{
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.HomeButton .home:hover,
.LocateButton .zoomLocateButton:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

li[role='menuitem']:focus, 
div[role='button']:not(.searchBtn):not(.searchClear):not(.pageBody):focus,
div[tabindex]:not(.panelPages):not(.pageBody):not(.searchBtn):not(.searchClear):focus,
.no-touch .esriMeasurement .esriButton .dijitButtonNode:focus,
input[type='text']:focus,
button:focus,
textarea:focus,
select[tabindex='0']:not(#embedMapSizeDropDown):focus,
#dijit_form_ComboButton_0_arrow:focus,
input[type='checkbox']:focus,
input[type='image']:focus, .icon-link:focus,
tr[tabindex='0']:focus,
h1:focus, h2:focus, h3:focus
.esriOverviewMap:focus,
.esriSimpleSliderIncrementButton:focus, .esriSimpleSliderDecrementButton:focus,
h3[tabindex='0']:focus
{
    /*outline-width: 2px;
    outline-offset: -2px;
    outline-style: solid;
    outline-color: rgba(0, 0, 0, 0.9);
    border-bottom: 0;*/
    box-shadow: 0 0 12px #38c;
}

.esriSimpleSliderIncrementButton:focus, 
.esriSimpleSliderDecrementButton:focus{
    outline-offset: 2px;
}

.icon-link:focus,
input[type='image']:focus
{
    --outline-offset: 0px;
    box-shadow: 0 0 12px #38c;
}

.homeContainer input:focus, .locateContainer input:focus 
{
    --outline-offset: 2px;
    box-shadow: 0 0 12px #38c;
}

tr[tabindex='0']:focus 
{
    outline-offset: 0px;
}

.ovwHighlight:focus{
  outline-offset: 2px !important;
}

#embedMapSizeDropDown:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: rgba(0, 0, 0, 0.9);
}

.arcgisSearch .searchMenu li:hover, .arcgisSearch .searchMenu li:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.activeMarker,
.panelToolActive, 
.esriBasemapGallerySelectedNode {
  background-color: rgba(0, 0, 0, 0.7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D000000,endColorstr=#4D000000) !important;
}

.esriBasemapGallerySelectedNode:hover span {
  color: black;
  text-align: center;
}



.arcgisSearch .searchInput::-moz-placeholder {
    color: #c6c6c1; !important
    opacity: 1;
}

.arcgisSearch .searchInput:-ms-input-placeholder {
    color: #c6c6c1; !important
}

.arcgisSearch .searchInput::-webkit-input-placeholder {
    color: #c6c6c1; !important
}

