.tabs {
  position: relative;
  min-height: 200px; /* This part sucks */
  clear: both;
  /* margin: 25px 0; */
  height: calc(100% -  50px);
}
.tab {
  float: left;
}
.tab label {
  background: #81D6FF;
  padding: 5px;
  border: 1px solid #ccc;
  margin-left: 2px;
  position: relative;
  left: 5px;
  border-top-left-radius: 8px;
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 22px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-top-left-radius: 8px;
}

.contentInner {
  overflow: auto;
  height: 100%;
  width: 100%;
}

[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

.filterButtons{
  position: absolute;
  bottom: 0;
  padding: 10px;
}