.tabs {
  position: relative;
  /* min-height: 200px; */ /* This part sucks */
  clear: both;
  /* margin: 25px 0; */
  height: calc(100% -  50px);
  display: -webkit-box;
  /* overflow-x: auto; */
}
.tab {
  height: calc(100% - 20px);
  /* width: calc(100% - 10px); */
  /* position: relative; */
  /* margin: 10px; */
}
/*.tab [type=radio]:checked {
  width: ;
}*/

.tab label {
  background: #81D6FF;
  padding: 5px;
  border: 1px solid #ccc;
  margin-left: 2px;
  position: relative;
  /* left: 10px; */
  border-bottom-left-radius: 8px;
  /* margin: 2px; */
  top: calc(100% - 10px);
  /* display: -webkit-inline-box; */
}
.tab [type=radio] {display: none;position: relative;top: calc(100% - 10px);}

.tab [type=radio] ~ label ~ .tabContent {
    display: none;
}

.tabContent {
  position: absolute;
  left: 0;
  right: 0;
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-top-left-radius: 8px;
  height: calc(100% - 56px);
  width: calc(100% - 22px);
}

.contentInner {
  overflow: auto;
  /* height: calc(100% - 30px); */
  width: 100%;
}

.tab [type=radio]:checked ~ label {
  background: white;
  border-top: 1px solid white;
  z-index: 2;
}
.tab [type=radio] ~ .tabContent  {
  display: none;
}

.tab [type=radio]:checked ~ .tabContent{
  z-index: 1; 
  display: inherit; 
  top: 0;
}

.tab span {
  padding:2px;
}

.Flipped, .Flipped .Content
{
    transform:rotateX(180deg);
    -ms-transform:rotateX(180deg); /* IE 9 */
    -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}
