<div class="featureItem">
	<table>
		<tr>
			<th valign="top">
				<input id="featureButton_${_featureId}" class="checkbox" type="checkbox" name="featureItem" value="${_layerId},${_featureId}" onchange="featureExpand(this)" style="margin:0"/>
			</th>
			<th colspan="3" style="padding:0;" valign="top" align="left">
				<label for="featureButton_${_featureId}" class="checkbox">${_title}</label>
			</th>
		</tr>
		<tr class="featureItem_${_featureId} hideAttr">
			<td/>
			<td colspan="3" >
				<input class="fg pageBtn" type="button" value="Pan To" onclick="featurePanZoom(this, true)" tag="${_layerId},${_featureId}"/>
			
				<input class="fg pageBtn" type="button" value="Zoom To" onclick="featurePanZoom(this, false)"tag="${_layerId},${_featureId}"/>
			</td>
		</tr>
		<tr class="featureItem_${_featureId} hideAttr">
			<td colspan="4" >
				<div class='goThereHint' style='right:50%;'>Alt + 7</div>
			</td>
		</tr>
		${_content}
	</table>
</div>
