<div class="featureItem">
	<table>
		<tr>
			<th valign="top">
				<input id="featureButton_${_featureId}" aria-labelledby="featureLabel_${_featureId}" type="checkbox" name="featureItem" value="${_layerId},${_featureId}" onchange="featureExpand(this)" style="margin:0"/>
			</th>
			<th colspan="3" style="padding:0;" valign="top">
				<h2 style="display:inline; padding: 1px;" id="featureLabel_${_featureId}">${_title}</h2>
			</th>
		</tr>
		<tr class="featureItem_${_featureId} hideAttr">
			<td/>
			<td align="right">
				<input type="button" value="Pan To" onclick="featurePanZoom(this, true)" tag="${_layerId},${_featureId}"/>
			</td>
			<td/>
			<td>
				<input type="button" value="Zoom To" onclick="featurePanZoom(this, false)"tag="${_layerId},${_featureId}"/>
			</td>
		</tr>
		${_content}
	</table>
</div>
