<div id="filterTab_${id}" class="tab">
   <input type="radio" id="tab-${id}" name="tab-group-1" checked>
   <label for="tab-${id}">${name}</label>

   <div class="tabContent">
       <div id="filterContent_${id}" class="contentInner">
	       <div class="filterContent">
	       	<ul id="filtersList_${id}"></ul>
		       <div class="filterAdd">
		       		<label for="fields_${id}">Field:</label> 
		       		<select id="fields_${id}" autofocus tabindex=0>
		       		</select>
		       		<!-- <label for="addMode_${id}">Action:</label> 
		       		<select id="addMode_${id}" autofocus tabindex=0>
			       		<option value="and">And</option>
			       		<option value="or">Or</option>
		       		</select> -->
		       		<input type="button" class="pageBtn" value="Add" onclick="filterAdd(this, '${id}')"/>
		       		</div>
		       </div>
		       <div class="filterButtons">
		       		<input type="button" class="pageBtn" value="Apply" />
		       		<input type="button" class="pageBtn" value="Ignore" />
		       		<input type="button" class="pageBtn" value="Save" />
		       </div>
	       </div>
	   </div>
   </div> 
</div>
