<div>
    <h3 tabindex='0'>In addition to the mouse you may:</h3>
    <ul id='instructionsList'>
        <li tabindex='0'>Use <strong>Tab key</strong> to navigate from item to item.</li>
        <li tabindex='0'>Use <strong>SHIFT Tab</strong> to navigate backwards.</li>
        <li tabindex='0'>Hit <strong>SPACE&nbsp;bar</strong> to toggle a focused check box.</li>
        <li tabindex='0'>Press <strong>ENTER</strong> to activate the focused item.</li>
        <li tabindex='0'>Press <strong>Alt + Arrow-Down</strong> to expand a combobox.</li>
        <li tabindex='0'>Use <strong>Alt</strong> with a number to fast navigate (hint will display.)</li>
        <li tabindex='0'>Use <strong>ESCAPE</strong> to go to the parent of the focus element.</li>
    </ul>
</div>