<div>
    <h3 tabindex='0' class='instructionsTitle'>Outre la souris, vous pouvez utiliser les raccourcis suivants:</h3>
    <ul id='instructionsList'>
        <li tabindex='0'>La <strong>touche Tab</strong> pour naviguer d’un élément à l’autre.</li>
        <li tabindex='0'><strong>MAJ Tab</strong> pour naviguer vers l’arrière.</li>
        <li tabindex='0'>La <strong>barre d’ESPACEMENT</strong> pour activer une sélection plus précise.</li>
        <li tabindex='0'>La touche <strong>ENTRÉE</strong> pour activer l’élément choisi.</li>
        <li tabindex='0'>Appuyer sur <strong>Alt + flèche vers le bas</strong> pour ouvrir une liste déroulante.</li>
        <li tabindex='0'>La touche <strong>Alt</strong> avec un numéro pour naviguer rapidement (l’indice s’affiche).</li>
        <li tabindex='0'>La touche <strong>ÉCHAPPEMENT</strong> pour aller au point de départ de l’élément choisi.</li>
    </ul>
</div>