<div tabindex='0' class='margin'>
    <h3>In addition to the mouse you may:</h3>
    <ul id='instructionsList'>
        <li>Use <strong>Tab key</strong> to navigate from item to item.</li>
        <li>Use <strong>SHIFT Tab</strong> to navigate backwards.</li>
        <li>Hit <strong>SPACE&nbsp;bar</strong> to toggle a focused check box.</li>
        <li>Press <strong>ENTER</strong> to activate the focused item.</li>
        <li>Use <strong>Alt</strong> with a number to fast navigate (hint will display.)</li>
        <li>Use <strong>ESCAPE</strong> to go to the parent of the focus element.</li>
    </ul>
</div>