<div class="${theme}" role="presentation">

    <div data-dojo-attach-point="_dialogNode">
    <div class="${css.shareDialogContent}">
        <div class="${css.shareDialogSubHeader}">${_i18n.widgets.ShareDialog.heading}</div>
        <div class="${css.iconContainer}">
            <div tabindex="0" class="${css.facebookIcon}" data-dojo-attach-point="_facebookButton" title="${_i18n.widgets.ShareDialog.facebookTooltip}">
                <img src="images\\share-facebook.png" alt="${_i18n.widgets.ShareDialog.facebookTooltip}" height="32" width="32"/>
            </div>
            <div tabindex="0" class="${css.twitterIcon}" data-dojo-attach-point="_twitterButton" title="${_i18n.widgets.ShareDialog.twitterTooltip}">
                <img src="images\\share-twitter.png" alt="${_i18n.widgets.ShareDialog.twitterTooltip}" height="32" width="32"/>
            </div>
            <div tabindex="0" class="${css.gplusIcon}" data-dojo-attach-point="_gpulsButton" title="${_i18n.widgets.ShareDialog.gplusTooltip}">
                <img src="images\\share-gplus.png" alt="${_i18n.widgets.ShareDialog.gplusTooltip}" height="32" width="32"/>
            </div>
            <div tabindex="0" class="${css.emailIcon}" data-dojo-attach-point="_emailButton" title="${_i18n.widgets.ShareDialog.emailTooltip}">
                <img src="images\\share-email.png" alt="${_i18n.widgets.ShareDialog.emailTooltip}" height="32" width="32"/>
            </div>
            <div>
                <a tabindex="0" class="${css.linkIcon}" data-dojo-attach-point="_linkButton" title="${_i18n.widgets.ShareDialog.url}" target="_blank" width="32"><img src="images\\share-link.png" alt="Link" height="32" width="32"/></a>
            </div>
            <div tabindex="0" class="${css.iconClear}"></div>
        </div>
        <div class="${css.shareDialogExtent}" style="height: 40px;">
            <input tabindex="0" id="${id}_extent_checkbox" data-dojo-attach-point="_extentInput" type="checkbox" class="${css.shareDialogExtentChk}" /> <label for="${id}_extent_checkbox" class="${css.shareDialogExtentChk}" style="width:80%">${_i18n.widgets.ShareDialog.extent}</label>
        </div>
        <label for="shareMapURL" class="${css.shareDialogSubHeader}">${_i18n.widgets.ShareDialog.url}</label>
        <input id="shareMapURL" tabindex="0" class="${css.shareMapURL}" autofocus="" type="text"  data-dojo-attach-point="_shareMapUrlText" readonly />
        <div class="${css.embed}">
            <label for="shareDialogTextarea" class="${css.shareDialogSubHeader}">${_i18n.widgets.ShareDialog.embed}</label>
            <textarea id="shareDialogTextarea" tabindex="0" autofocus="" data-dojo-attach-point="_embedNode" rows="5" cols="33" readonly class="${css.shareDialogTextarea}"></textarea>
        </div>
        <div class="${css.mapSizeContainer}">
            <div class="${css.embedMapSizeDropDown}">
                <label for="embedMapSizeDropDown" class="${css.mapSizeLabel}">${_i18n.widgets.ShareDialog.size}</label>
                <select id="embedMapSizeDropDown" autofocus tabindex="0" data-dojo-attach-point="_comboBoxNode"></select>
            </div>
            <div class="${css.embedMapSizeClear}"></div>
        </div>
        </div>
    </div>
</div>