#languageSelectNode {
    padding: 5px;
}

#languageSelectNode label {
    font-size: 14px;
    margin-right: 2px;
    margin-bottom: 0;
}

@media only screen and (min-width: 720px) {
    #languageSelectNode {
        padding: 12px;
    }

    #languageSelectNode label {
        font-size: 18px;
        margin-right: 4px;
    }
}

#languageSelectNode .dijitDropDownButton {
    margin:0;
    padding:0;
    width:100%
    height:100%;
}

#languageSelectNode .dijitArrowButtonInner {
  display:none;
}

#languageSelectNode .dijitButtonText{
    vertical-align: middle;
    padding: 2px;
}

.langMenuItemIcon {
   height:20px; 
   vertical-align: middle;
}

.langIcon {
    height:20px; 
    vertical-align: middle;
}

@media only screen and (min-width: 720px) {
    .langIcon {
        height:22px; 
    }
}
