#languageSelectNode {
    position: absolute;
    right: 2px;
    top: 2px;
    width: auto;
    min-width:22px;
    height: 22px;
}

#languageSelectNode .dijitDropDownButton {
  margin:0;
  padding:0;
  width:100%
  height:100%;
}

#languageSelectNode .dijitArrowButtonInner {
  display:none;
}

#languageSelectNode .dijitButtonText{
    vertical-align: middle;
    padding: 3px 1px;
}

.langMenuItemIcon {
   height:20px; 
   vertical-align: middle;
}
