<div 
	role="presentation" 
	style="height:auto;">

	<div id="navToolBar" class="navToolBar">
		<div id="navZoomIn" role="button" style="display: block;">
			<input 
				type="image" 
				src="images/icons_white/plus.png" 
				alt="Zoom In" 
				title="Zoom In">
		</div>
		<div id="navHome" role="button" style="display: block;" class="borderTop">
			
		</div>
		<div id="navZoomOut" role="button" style="display: block;" class="borderTop">
			<input 
				type="image" 
				src="images/icons_white/minus.png" 
				alt="Zoom Out" 
				title="Zoom Out">
		</div>
	</div>
</div>
