<div 
	role="presentation" 
	style="height:auto; position: absolute;"
	>

	<div id="navToolBar" class="navToolBar bg">
		<div 
			id="navZoomIn" 
			class="navBtn borderBottom" >
			<div 
				class="disabledBtn" style="display:none" 
				aria-label="Maximum Zoom In" role="button"></div>
			<input 
				type="image" 
				src="images/icons_white/plus.png" 
				alt="Zoom In" 
				title="Zoom In"
				>
		</div>
		<div id="navHome" class="navBtn borderBottom"></div>
		<div id="navZoomOut" class="navBtn borderBottom">
			<div 
				class="disabledBtn" style="display:none" 
				aria-label="Maximum Zoom Out" role="button"></div>
			<input 
				type="image" 
				src="images/icons_white/minus.png" 
				alt="Zoom Out" 
				title="Zoom Out"
				>
		</div>
	</div>
	
	<div id="extendedNav">
		<div id="extendedNavTools" class="navToolBar bg" style="margin-top:4px;">
			<div id="extenderNav" class="navBtn">
				<input 
					id="extenderNavCheckbox"
					type="checkbox" 
					>
				<label 
					id="extenderNavLabel"
					for="extenderNavCheckbox" tabindex=0>
					<img 
						class="extenderNavExtend"
						src="images/icons_white/down.png" 
						alt="Extended Navigation" 
						title="Extended Navigation"
						style="width: 24px;height: 12px; display:none;"/>
					<img 
						class="extenderNavCollapse"
						src="images/icons_white/Up.png" 
						alt="Extended Navigation" 
						title="Extended Navigation"
						style="width: 24px;height: 12px; display:inline-block;"/>
				</label>

			</div>

			<div id="extendedTools" class="navToolBar" style="display:none">
				<div id="navLocate" class="navBtn borderTop"></div>

				<div id="navPrevNext" style="height: auto;">
					<div id="navPrev" class="navBtn borderTop borderBottom">
						<div 
							class="disabledBtn" style="display:none" 
							aria-label="Previous Extent, Disabled" role="button"></div>
						<input 
							type="image" 
							src="images/icons_white/prev.png" 
							alt="Previous Extent" 
							title="Previous Extent">
					</div>
					<div id="navNext" class="navBtn">
						<div 
							class="disabledBtn" style="display:none" 
							aria-label="Next Extent, Disabled" role="button" ></div>
						<input 
							type="image" 
							src="images/icons_white/next.png" 
							alt="Next Extent" 
							title="Next Extent">
					</div>
				</div>

				<div id="ZoomTools" style="height: auto;">
					<div id="navZoomInTool" class="navBtn borderTop borderBottom">
						<input 
							type="image" 
							src="images/icons_white/ZoomPlus.png" 
							alt="Zoom In Tool" 
							title="Zoom In Tool">
					</div>
					<div id="navZoomOutTool" class="navBtn" >
						<input 
							type="image" 
							src="images/icons_white/ZoomMinus.png" 
							alt="Zoom Out Tool" 
							title="Zoom Out Tool">
					</div>
				</div>
				<!-- <div id="testBtn" class="navBtn borderTop borderBottom">
					<input 
						type="image" 
						src="images/icon-cog.png" 
						alt="Test" 
						title="Test">
				</div> -->
			</div>
		</div>
	</div>
</div>
