<div class="_filter _number">
	<select autofocus tabindex=0 
		data-dojo-attach-event="onchange: criteriaChanged"
		data-dojo-attach-point="criteria"
		>
		<option value=" = ">Equal</option>			
		<option value=" != ">Not Equal</option>			
		<option value=" < ">Less Then</option>			
		<option value=" > ">More Then</option>			
		<option value=" BETWEEN ">Between</option>			
		<option value=" NOT BETWEEN ">Not Between</option>			
	</select>
	<input type="textbox" data-dojo-attach-point="minValue" aria-label="Enter value to match"
	data-dojo-type="dijit/form/ValidationTextBox"
    data-dojo-props="regExp:'${format}', invalidMessage:'Invalid Number'"/>
	<div style="display:none;" data-dojo-attach-point="divMaxValue">
		<input type="textbox" data-dojo-attach-point="maxValue" aria-label="Enter last value" 
		data-dojo-type="dijit/form/ValidationTextBox"
	    data-dojo-props="regExp:'${format}', invalidMessage:'Invalid Number.'"/>
	</div>
</div>