<div class="_filter _double">
	<select autofocus tabindex=0 
		data-dojo-attach-event="onchange: criteriaChanged"
		data-dojo-attach-point="criteria"
		>
		<option value=" = ">Equal</option>			
		<option value=" != ">Not Equal</option>			
		<option value=" BETWEEN ">Between</option>			
		<option value=" NOT BETWEEN ">Not Between</option>			
	</select>
	<input type="textbox" data-dojo-attach-point="minValue" aria-label="Enter value to match"/>
	<input type="textbox" data-dojo-attach-point="maxValue" aria-label="Enter last value"/>
</div>