<div>
	<div class="tab">
	    <input id="${id}_btn" type="radio" name="tabsGroup" ${checked} data-dojo-attach-event="onchange: filterChange" value="${id}_page" data-dojo-attach-point="btn">
	    <label for="${id}_btn" aria-label="${filter_name}">
	   		<span tabindex=0>${filter_name}</span>
			<img src="images/set.png" class="setIndicator" style="display:none; left:-4px;"
			     data-dojo-attach-point="setIndicator" 
			     Alt="Some Filters Apply" title="Some Filters Apply" 
			     tabindex=0 
			>
	   	</label>
	</div>

	<div class="tabContent tabHide" id="${id}_page">
        <div class="filterAdd">
       		<label for="${id}-fieldsCombo">Attribute:</label> 
       		<select id="${id}-fieldsCombo" autofocus tabindex=0 data-dojo-attach-point="fieldsCombo">
       		</select>
       		<input type="button" class="pageBtn" value="Add" data-dojo-attach-event="onclick: filterAdd" style="float: right;"/>
        </div>

       	<ul data-dojo-attach-point="filterList"></ul>

        <div class="filterButtons">
       		<input type="button" class="pageBtn" value="Apply" data-dojo-attach-event="onclick: filterApply"/>
       		<input type="button" class="pageBtn" value="Ignore" data-dojo-attach-event="onclick: filterIgnore"/>
        </div>
    </div>
</div>