<div class="_filter _date">
	<select autofocus tabindex=0 
		data-dojo-attach-event="onchange: criteriaChanged"
		data-dojo-attach-point="criteria"
		>
		<option value=" = ">Equal</option>			
		<option value=" != ">Not Equal</option>			
		<option value=" < ">Less Then</option>			
		<option value=" > ">More Then</option>			
		<option value=" BETWEEN ">Between</option>			
		<option value=" NOT BETWEEN ">Not Between</option>			
	</select>
	<input type="text" data-dojo-attach-point="minValue" data-dojo-type="dijit/form/DateTextBox" aria-label="Enter date to match" required="true"/>
	<div style="display:none;" data-dojo-attach-point="divMaxValue">
		<input type="text" data-dojo-attach-point="maxValue" data-dojo-type="dijit/form/DateTextBox" aria-label="Enter last date" required="true"/>
	</div>
</div>