<div class="_filter _string">
	<select autofocus tabindex=0 
		data-dojo-attach-event="onchange: criteriaChanged"
		data-dojo-attach-point="criteria"
		>
		<option value="=">Equal</option>			
		<option value="!=">Not Equal</option>			
		<option value=" Like ">Like</option>			
		<option value=" Not Like ">Not Like</option>			
		<option value=" In ">In</option>			
		<option value=" Not In ">Not In</option>			
	</select>
	<input type="textbox" aria-label="Enter string to match" data-dojo-attach-point="textInput"/>
	<div>
		<fieldset class="_fieldExamples" style="display:none;" data-dojo-attach-point="listInput" tabindex=0></fieldset>
		<!-- <input type="checkbox" value="Value" />Field Value <br /> -->
    </div>
</div>