<li tabindex=0>
<!-- 	<div>
		<select class="selectOpenParan">
			<option value=''></option>
			<option value='('> ( </option>
			<option value='(('> ( ( </option>
			<option value='((('> ( ( ( </option>
		</select> -->
		<div>
			<input type="checkbox" checked aria-label="Active" Tooltip="Active" data-dojo-attach-point="Active"/>
			<h2 style="display:inline;">${field_label}</h2>
			<input type="button" value="Remove" class="pageBtn" style="float:right;" data-dojo-attach-event="onclick: filterRemove"/>
		</div>
		<!-- <div> -->
			<div data-dojo-attach-point="content"/>
		<!-- </div>
		<select class="selectCloseParan">
			<option value=''></option>
			<option value=')'> ) </option>
			<option value='))'> ) ) </option>
			<option value=')))'> ) ) ) </option>
		</select>
		<select class="selectAndOr">
			<option value='AND' checked>AND</option>
			<option value='OR'>OR</option>
		</select>
	</div> -->
</li>